<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.MenuMapper">

    <insert id="addDishToMenu" parameterType="com.example.demo.domain.request.RequestMenu" >
        INSERT INTO Menu (userID, scheduleID, dishName, quantity, serveDate)
        VALUES (#{userID}, #{scheduleID}, #{dishName}, #{quantity}, #{serveDate})
    </insert>

    <select id="getMenuByDate" resultType="com.example.demo.domain.response.ResponseMenu">
        SELECT
            menuID,
            userID,
            M.scheduleID,
            scheduleName,
            dishName,
            price,
            quantity,
            serveDate
        FROM Menu M, Schedule S
            WHERE  M.scheduleID = S.scheduleID AND serveDate = #{serveDate}
    </select>

    <select id="getMenuByID" resultType="com.example.demo.domain.response.ResponseMenu">
        SELECT
            menuID,
            userID,
            scheduleID,
            dishName,
            price,
            quantity,
            serveDate
        FROM Menu
        WHERE menuID = #{menuID}
    </select>

    <update id="updateQuantityOfMenu" parameterType="com.example.demo.domain.response.ResponseMenu">
        UPDATE Menu
        SET quantity = #{quantity}
        WHERE menuID = #{menuID}
    </update>

    <select id="getListMenuForAccountant" resultType="com.example.demo.domain.response.ResponseMenu">
        SELECT
        menuID,
        U.userID,
        U.fullName,
        M.scheduleID,
        scheduleName,
        dishName,
        price,
        quantity,
        serveDate
        FROM Menu M, Schedule S, User U
        WHERE U.userID = M.userID AND M.scheduleID = S.scheduleID ORDER BY serveDate DESC
    </select>

    <update id="updatePriceOfDish" parameterType="com.example.demo.domain.request.RequestEditPriceMenu">
        UPDATE Menu
        SET
        price = #{price}
        WHERE menuID = #{menuID}
    </update>

    <select id="checkDishInMenu" parameterType="com.example.demo.domain.request.RequestMenu" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM Menu
        WHERE userID = #{userID}
        AND scheduleID = #{scheduleID}
        AND LOWER(dishName) = LOWER(#{dishName})
        AND serveDate = #{serveDate}
    </select>

    <update id="updateDishQuantityInMenu" parameterType="com.example.demo.domain.request.RequestMenu">
        UPDATE Menu
        SET quantity = quantity + #{quantity}
        WHERE userID = #{userID}
        AND scheduleID = #{scheduleID}
        AND LOWER(dishName) = LOWER(#{dishName})
        AND serveDate = #{serveDate}
    </update>

</mapper>