<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.OrderMapper">

    <insert id="createOrder" keyProperty="orderID" parameterType="com.example.demo.domain.request.RequestOrder">
        INSERT INTO `Order` (userID, menuID, classID, quantity, totalPrice, createdAt)
        VALUES (#{userID}, #{menuID}, #{classID}, #{quantity}, #{totalPrice}, #{createdAt})
    </insert>

    <select id="getOrdersByDateRange" resultType="com.example.demo.domain.response.ResponseOrder">
        SELECT
        orderID,
        U.userName,
        U.fullName,
        M.dishName,
        S.className,
        O.quantity,
        SD.scheduleName,
        totalPrice,
        isConfirm,
        feedback,
        O.createdAt,
        O.updatedAt
        FROM `Order` O, Menu M, User U, Class S, Schedule SD
        WHERE
        O.userID = U.userID AND O.classID = S.classID AND O.menuID = M.menuID AND M.scheduleID = SD.scheduleID
        AND DATE(O.createdAt) BETWEEN #{from} AND #{to} ORDER BY orderID DESC
    </select>

    <select id="getOrdersByTeacher" resultType="com.example.demo.domain.response.ResponseOrder">
        SELECT
        orderID,
        U.userName,
        U.fullName,
        M.dishName,
        S.className,
        O.quantity,
        SD.scheduleName,
        totalPrice,
        isConfirm,
        feedback,
        O.createdAt,
        O.updatedAt
        FROM `Order` O, Menu M, User U, Class S, Schedule SD
        WHERE
        O.userID = U.userID AND O.classID = S.classID AND O.menuID = M.menuID AND M.scheduleID = SD.scheduleID
        AND U.userName LIKE CONCAT('%', #{userName}, '%')
        ORDER BY O.orderID DESC
    </select>

    <select id="getOrdersByOrderID" resultType="com.example.demo.domain.response.ResponseOrder">
        SELECT
        orderID,
        M.menuID,
        U.userName,
        U.fullName,
        M.dishName,
        S.className,
        O.quantity,
        SD.scheduleName,
        totalPrice,
        isConfirm,
        feedback,
        O.createdAt,
        O.updatedAt
        FROM `Order` O, Menu M, User U, Class S, Schedule SD
        WHERE
        O.userID = U.userID AND O.classID = S.classID AND O.menuID = M.menuID AND M.scheduleID = SD.scheduleID
        AND O.orderID = #{orderID}
    </select>

    <update id="confirmOrder" parameterType="com.example.demo.domain.response.ResponseOrder">
        UPDATE `Order`
        SET
        isConfirm = #{isConfirm},
        feedback = #{feedback}
        WHERE orderID = #{orderID}
    </update>

    <update id="editOrder" parameterType="com.example.demo.domain.response.ResponseOrder">
        UPDATE `Order`
        SET
        userID = #{userID},
        menuID = #{menuID},
        classID = #{classID},
        quantity = #{quantity},
        totalPrice = #{totalPrice},
        updatedAt = #{updatedAt}
        WHERE orderID = #{orderID}
    </update>


</mapper>